<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <% if (error) { %>
          <p class="error-message"><%= error %></p>
        <% } %>
        <% if (success) { %>
          <p class="success-message"><%= success %></p>
        <% } %>
        <form action="/login" method="POST">
          <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="login-input" required>
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="login-input" required>
          </div>
          <button type="submit" class="login-button">Login</button>
        </form>

        <a href="/login/edit">Change username or password</a>
      </div>
</body>
</html>