<nav>
    <div class="site-title">
        <a href="/">Admin Hub</a>
        <p>Art Display Management System</p>
    </div>
    <ul>
        <li><a href="/">Art List</a></li>
        <li><a href="/arts/add">Add Art</a></li>
        <li><a href="/">Messages</a></li>
    </ul>
</nav>