<nav class="navbar">
    <div class="site-title">
        <a href="/" class="logo">Admin Hub</a>
        <p class="site-description">Art Display Management System</p>
    </div>
    <ul class="nav-links">
        <li><a href="/" class="nav-link">Art List</a></li>
        <li><a href="/arts/add" class="nav-link">Add Art</a></li>
        <li><a href="/messages" class="nav-link">Messages</a></li>
    </ul>
</nav>