$font-main: "IBM Plex Sans", sans-serif;
$font-text: "Inika", serif;

.about-container {
  display: flex;
  justify-content: space-around;
  gap: 10%;
  .left-container {
    position: relative;
    height: 100vh;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
    width: 40vw;
    .title-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      .about-title {
        font-size: 6rem;
        text-align: left;
        font-family: $font-main;
        font-weight: bold;
        line-height: 95%;
        position: relative;
      }
      .about-title::after {
        content: "";
        position: absolute;
        width: 40%;
        height: 2px;
        background-color: black;
        bottom: -10%;
        left: 5%;
      }
      .text-container {
        width: 100%;
        margin-top: 4%;
        font-family: $font-text;
        .text-uppercase {
          text-transform: uppercase;
          font-size: 1.1rem;
        }
      }
    }
    .bottom-container {
      width: 50vw;
      font-size: 1.2rem;
      h2 {
        font-family: $font-main;
        margin: 0;
      }
      .services-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        .service-container {
          position: relative;
          width: 45%;
          font-family: $font-text;
          .service-number {
            border-bottom: 2px solid black;
            padding-bottom: 5px;
            font-size: 1.3rem;
          }
          img {
            width: 40px;
            position: absolute;
            top: 0px;
            right: 0px;
          }
          .service-title {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  .art-display {
    position: relative;
    top: 4rem;
    right: 10%;
    width: 30vw;
    .art-container {
      position: absolute;
      &.sculpture {
        top: 20%;
        left: 10%;
        z-index: 3;
      }
      &.digital {
        top: 35%;
        left: 40%;
        z-index: 2;
      }
      &.photography {
        top: 25%;
        left: 70%;
      }
      &.sketching {
        top: 15%;
        left: 95%;
      }
      .art-img {
        width: 150px;
        height: 300px;
        object-fit: cover;
      }

      .art-text {
        font-size: 1.1rem;
        font-family: $font-text;
        font-weight: bold;
        position: absolute;
        font-style: italic;
        &.sculpture {
          top: 95%;
          left: 0%;
          z-index: 3;
        }
        &.digital {
          top: -15%;
          left: 20%;
          z-index: 2;
        }
        &.photography {
          top: 95%;
          left: 30%;
        }
        &.sketching {
          top: -15%;
          right: -10%;
        }
      }
    }

    .contact-button {
        position: absolute;
        bottom: 0%;
        right:-30%;
    
        border-radius: 0%;
        padding-block: 8px;
        padding-inline: 15px;
        font-size: 1.2rem;
        background-color: transparent;
        border-width: 3px;
        &:hover {
            color:white;
            background-color: black;
        }
    }
  }
}

// @media (min-width: 769px) {
//     .about-title {
//       display: block;
//       white-space: nowrap;
//     }
//   }
