.gallery {
    --s: 20vw; /* control the size */
    --g: 20px;  /* control the gap */
    --f: 1.5;   /* control the scale factor */
    
    display: grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3,auto);
  }
  
  .gallery > .img-container > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    // filter: grayscale(80%);
    transition: .35s linear;
  }
  
  .gallery .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .text-container{
            opacity: 0;
            transition: opacity 0s;
           
            h3 {
                position: absolute;
                top: 40%;
                left: 50%;
                background-color: #e0E6e2;
                font-size: 5rem;
                z-index: 5;
            }
            p {
                position: absolute;
                top: 60%;
                left: 50%;
                background-color: #e0E6e2;
                font-size: 2rem;
                z-index: 5;
            }
            &-active {
                opacity: 1;
                transition: opacity 0.5s ease-in 0.2s;
            }
        }
            img:hover {
                width:  calc(var(--s)*var(--f));
                height: calc(var(--s)*var(--f));
            }
    }
  
  body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #ffffff;
  }