@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

$font-main: "IBM Plex Sans", sans-serif;
$font-text: "Inika", serif;

.feature-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  background-color: #ffffff;
  opacity: 1;

  // background-image: linear-gradient(
  //     30deg,
  //     #fff9f3 12%,
  //     transparent 12.5%,
  //     transparent 87%,
  //     #fff9f3 87.5%,
  //     #fff9f3
  //   ),
  //   linear-gradient(
  //     150deg,
  //     #fff9f3 12%,
  //     transparent 12.5%,
  //     transparent 87%,
  //     #fff9f3 87.5%,
  //     #fff9f3
  //   ),
  //   linear-gradient(
  //     30deg,
  //     #fff9f3 12%,
  //     transparent 12.5%,
  //     transparent 87%,
  //     #fff9f3 87.5%,
  //     #fff9f3
  //   ),
  //   linear-gradient(
  //     150deg,
  //     #fff9f3 12%,
  //     transparent 12.5%,
  //     transparent 87%,
  //     #fff9f3 87.5%,
  //     #fff9f3
  //   ),
  //   linear-gradient(
  //     60deg,
  //     #fff9f377 25%,
  //     transparent 25.5%,
  //     transparent 75%,
  //     #fff9f377 75%,
  //     #fff9f377
  //   ),
  //   linear-gradient(
  //     60deg,
  //     #fff9f377 25%,
  //     transparent 25.5%,
  //     transparent 75%,
  //     #fff9f377 75%,
  //     #fff9f377
  //   );
  // background-size: 20px 35px;
  // background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
  background-color: #ffffff;
  opacity: 0.8;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(
    to right,
    #d7eebd,
    #d7eebd 1px,
    #ffffff 1px,
    #ffffff
  );

  &.dark-mode {
    background-color: #0e0d0d;
    opacity: 1;
    background-image: none;
    color: white;
  }
  .section-title {
    animation: slideDown 1s linear;
  }

  .feature-container {
    min-height: 80%;
    box-sizing: border-box;
    animation: slideUp 1s forwards;
  }

  .guide {
    position: absolute;
    width: 300px;
    height: 100px;
    left: 30%;
    top: 30%;
    .guide-text {
      font-family: $font-text;
      font-size: 2rem;
      transform: skewY(-10deg);
      position: absolute;
      top: 15%;
      left: 0;
      color: rgb(104, 105, 8);
      &.dark-mode {
        color: rgb(245, 236, 185);
      }
    }
    .guide-img {
      width: 200px;
      position: absolute;
      top: 50%;
      left: 10%;
      animation: moveRight 0.8s linear infinite;
      animation-direction: alternate;
    }
  }

  .book-container {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: linear-gradient(90deg, snow 1px, #f0f0f0);
    background-image: url("https://res.cloudinary.com/dirwjcohx/image/upload/v1719769936/Daria/paper-texture_ps2yvo.png");
    background-position: center;
    background-size: 160% 150%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    height: 100%;
    padding: 10px;
    font-family: $font-text;
    
    h1 {
      &.dark-mode {
        color: rgb(0, 0, 0);
      }
    }

    img {
      width: 80%;
      height: 60%;
      object-fit: contain;
      margin-bottom: auto;
    }
    p {
      margin-block: auto;
      text-align: center;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-inline: 20px;
      &.dark-mode {
        color: rgb(0, 0, 0);
      }
    }
    &:hover {
      cursor: pointer;
    }
    button {
      border: none;
      font-size: 1em;
      text-decoration: underline;
      font-weight: 600;
      margin-bottom: 10px;
      &:hover {
        cursor: pointer;
        background-color: none;
        color: rgb(6, 78, 6);
      }
    }
  }

  .my-page {
    width: 100%;
    height: 100%;
  }

  .cover-page {
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-image: url("https://res.cloudinary.com/dirwjcohx/image/upload/v1719769937/Daria/cover-green_ulieqi.png");
    background-position: center;
    background-size: cover;
    // background-color: rgb(69, 204, 102);
    // background-image: repeating-linear-gradient(-26deg, rgba(255,255,255, 0.25), rgba(168, 100, 100, 0.25) 2px, transparent 3px, transparent 7px);
    // background-size: 6px 8px;
    h1 {
      font-size: 3rem;
      margin-top: 25%;
      font-family: $font-text;
      color: rgb(0, 0, 0);
      // text-transform: uppercase;
      background-image: url("https://res.cloudinary.com/dirwjcohx/image/upload/v1719769937/Daria/23_bcevqm.png");
      background-position: left;
      background-size: cover;
      transform: skewY(-5deg);
    }
    img {
      width: 300px;
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translateX(-50%);
    }

    &:hover {
      cursor: pointer;
    }
    // p {
    //   padding-inline: 5px;
    //   margin-inline: auto;
    //   width: 70%;
    //   font-size: 1.1rem;
    //   color: #000000;
    //   font-family: $font-text;
    // }
  }

  .pagination {
    margin-inline: auto;
    margin-top: 3%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-family: $font-text;
    button {
      // background-color: #eff1da;
      color: rgb(0, 0, 0);
      border: none;
      padding: 10px 25px;
      border-radius: 15px;
      transition: background-color 0.3s ease;
      font-size: 1rem;
      font-weight: bold;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
    .page-no {
      font-size: 1em;
      font-weight: 500;
      &.dark-mode {
        color: rgb(255, 255, 252);
      }
    }
  }

  button:hover {
    background-color: #f5f2dc;
    cursor: pointer;
  }

  .back button {
    margin-top: 50%;
    background-color: #f5f2dc;
    color: rgb(0, 0, 0);
    border: none;
    padding: 20px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    &:hover {
      background-color: #0d381a;
      cursor: pointer;
    }
    & a {
      text-decoration: none;
      color: white;
    }
    & svg {
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveRight {
  0% {
    left: 0;
    transform: translateY(0);
  }
  100% {
    left: 20px;
    transform: translateY(4px);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
  .book-container {
    margin-top: 0vh;
    gap: 80px;
  }
  .guide {
    width: 300px;
    height: 100px;
    left: 10%;
    top: 30%;
  }
}

@media only screen and (max-width: 480px) {
  .feature-section {
    justify-content: space-between;
    padding-top: 20%;
    .book-container {
      margin-top: 25%;
    }

    .guide {
      width: 250px;
      height: 50px;
      left: 30%;
      top: 15%;
      .guide-text {
        font-size: 1.2rem;
      }
      .guide-img {
        width: 150px;
      }
    }
  }
}
