$font-main: "IBM Plex Sans", sans-serif;
$font-text: "Inika", serif;

.hero {
  display: flex;
  height: 100%;
  width: 100vw;
  position: relative;

  &.dark-mode {
    background-color:  rgb(14, 13, 13);;
    color:  rgb(247, 230, 230);
  }

  .left-section {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    
    .background-video {
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
      height: 120%;
      object-fit: cover;
      opacity: 0;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -10px;
      font-size: 1.3rem;

      .logo {
        width: 150px;
        position: relative;
        top: -40px;
        left: 0px;
      }
    }
    .titles {
      position: absolute;
      z-index: 4;
      top: 20%;
      margin-left: 20%;
      opacity: 0;
      animation: slideIn 2s forwards;

      h2 {
        margin-block: 10px;
        font-size: 3rem;
        font-family: $font-text;
        font-weight: 300;
        animation: slideInLeft 1s forwards;

        &.dark-mode {
          color: rgb(185, 180, 180);
        }
      }
      h1 {
        margin-block: 10px;
        font-size: 7rem;
        font-family: $font-main;
        animation: slideInRight 1s forwards;
        // -webkit-text-stroke: 0.5px white;
        text-shadow: 2px 2px 4px rgba(163, 152, 152, 0.5);
      }
    }
    .portfolio-link {
      position: absolute;
      z-index: 4;
      bottom: 30%;
      margin-left: 10%;

      .link {
        font-family: $font-text;
        font-weight: 600;
        text-decoration: none;
        color: black;
        &:hover {
          text-decoration: underline;
        }
        animation: slideInLeft 3s forwards;

        &.dark-mode {
          color: rgb(185, 180, 180);
        }
      }
    }
    .title-role p {
      position: absolute;
      bottom: 2%;
      text-align: right;
      right: 10%;
      width: 350px;
      font-family: $font-main;
      font-weight: 400;
      font-size: 1.5rem;
      opacity: 0;
      animation: slideInBottomRight 1s forwards;

      &.dark-mode {
        color: rgb(247, 230, 230);
      }
    }
    .title-small p {
      font-size: 0.7rem;
      width: 120px;
      font-family: $font-text;
      font-style: normal;
      
      &.dark-mode {
        color: rgb(247, 230, 230);
      }
    }
  }
  .right-section {
    flex: 1.5;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .video-container {
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0;
      animation: fadeInVideo 2s forwards;

      .video {
        position: absolute;
        top: -10%;
        left: 0;
        width: 100%;
        height: 120%;
        object-fit: cover;
        opacity: 0;
        animation: fadeInVideo 2s forwards;
      }

      .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        background-color: rgba(0, 0, 0, 0.03);
        opacity: 0;
        animation: fadeInVideo 2s forwards;
      }
    }

    .title-right {
      position: absolute;
      bottom: 10%;
      right: 10%;
      font-size: 3rem;
      font-family: $font-text;
      font-weight: lighter;
      color: white;
      animation: slideInRight 1s forwards;
    }
  }

  .top-border {
    height: 1.5px;
    width: 100%;
    position: absolute;
    bottom: calc(30% + 30px);
  }
  .bottom-border {
    height: 1.5px;
    width: 100%;
    position: absolute;
    bottom: calc(30% - 30px);
  }
}

.toggle-dark-mode {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  );
  color: black;
  cursor: pointer;
  z-index: 9999;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  &.dark-mode {
    background-color: rgba(255, 255, 255, 0.8); 
    color: black;

    &:hover {
      background-color:rgba(
        0,
        0,
        0,
        0.8
      ); 
      color: rgb(247, 230, 230);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottomRight {
  from {
    transform: translate(50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInVideo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    width: 100%;
    .left-section {
      width: 100vw;
      height: 100vh;

      .background-video {
        opacity: 1;
        z-index: 0;
      }
      .title-small {
        display: none;
      }
      .titles {
        background: linear-gradient(
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.5)
        );
        padding: 10px;
        top: 20%;
        margin-left: 5%;
        h2 {
          font-size: 2rem;
        }
        h1 {
          font-size: 6rem;
        }
      }
      .portfolio-link {
        bottom: 27%;
        margin-left: 0%;
        background: linear-gradient(
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.5)
        );
        left: 0;
        padding: 20px;
        width: 100%;
        font-weight: bold;
      }
      .title-role {
        bottom: 10%;
        right: 0%;
        font-size: 1rem;
        background: linear-gradient(
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.5)
        );
        width: 300px;
        padding: 10px;
      }
    }
    .right-section {
      display: none;
    }
  }
}
